* {
    margin: 0px;
    padding: 0px;
}

/* common */
.btn {
    border-radius: 4px;
    background: #E55473;
    border: 0;
    padding: 5px 8px;
    color: white;
}

.btn:hover {
    cursor: pointer;
    background-color: rgb(92, 215, 174);
}




/* home banner section */
.banner {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background: rgba(229, 84, 115, 0.10);
    padding: 10px 60px;
    height: 80vh;
    margin-bottom: 80px;
}

.banner-container {
    text-align: left;
    margin-top: 70px;
    padding-left: 60px;
}

.banner-header {
    color: #272727;
    font-size: 50px;
    font-weight: 800;
    line-height: normal;
    padding-bottom: 12px;
}

.banner-text {
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 20px;
}

.btn-shop {
    width: 100px;
    height: 40px;
}

.banner-image {
    padding-right: 60px;
}

/* home banner section ends */


/* featured section */
.featured-container {
    margin-right: 200px;
    margin-left: 200px;
}

.feature-header {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.feature-text {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 30px;
}

.feautured-images {
    display: flex;
    justify-content: space-between;
}

#featured-pic {
    width: 250px;
    height: 300px;
    border-radius: 500px 500px 0px 0px;
}

.pic-1 {
    background: lightgray;

}

.pic-2 {
    background: rgba(5, 151, 160, 0.15);


}

.pic-3 {
    background: rgba(71, 125, 17, 0.15);
}

.featured-pic-caption {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    color: #272727;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-decoration-line: underline;
}

.caption-1 {
    text-align: center;
    padding-left: 50px;
}

.caption-2 {
    padding-right: 0px;
}

.caption-3 {
    padding-right: 50px;
}

/* featuted section ends here */





/* icon section */
.icon-container {
    margin-bottom: 60px;
    border-radius: 5px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-between;
    margin-right: 200px;
    margin-left: 200px;
    padding: 40px;
}

.icons {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.icon-text {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
}

/* icon section end */





/* sign up section */
.sign-up {
    display: flex;
    justify-content: space-around;
    background: rgba(229, 84, 115, 0.05);
    width: 100%;
    margin-bottom: 50px;
}

.sign-container {
    text-align: center;
    padding-top: 150px;

}

.sign-header {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.sign-off{
    color:  #E55473;
}

.sign-text {
    color: rgba(39, 39, 39, 0.60);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding-top: 15px;
    padding-bottom: 28px;
}

.btn-sign {
    padding: 12px 18px;
}

.sign-pic {
    width: 418px;
    height: 440px;
}

/* sign up section ends */




/* instagram section */
.insta-container {
    text-align: center;
}

.insta-header {
    color: #272727;
    text-align: center;
    font-style: 40px;
    font-weight: 800;
    padding-bottom: 18px;
}

.insta-text {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    padding-bottom: 37px;
}

.insta-pic {
    display: flex;
    justify-content: space-around;
    margin-right: 100px;
    margin-left: 100px;
}

#flower-pic {
    width: 250px;
    height: 300px;
}


/* shopping,subcribe section */
.shop-container {
    margin: 100px;
    background-image: url("asset/Rectangle\ 9.png");
    height: 300px;
    padding-top: 70px;
}

.shop-header {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.shop-text {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    padding-top: 10px;
    padding-bottom: 36px;
}

.email {
    border-radius: 8px;
    text-align: center;

}

#enter-email {
    height: 20px;
    width: 400px;
}





/* footer section */
.foot-container {
    /* width: 100%; */
    height: 400px;
    background: #111010;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    height: auto;
}

.foot-header {
    color: white;
    font-size: 20px;
    text-align: center;
}
.foot-flower{
   color:  #E55473;
}


.foot-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin-top: 16px;
    margin-bottom: 50px;
}

.cpy-right {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 12px;
    font-weight: 500;
}

/* footer section end here */