@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Merriweather", "Inter", sans-serif;
}

/* shared styles */
.container {
  width: 82%;
  max-width: 1320px;
  margin: 40px auto;
  height: 500px;
}

/* banner section styles */
.container,
.banner-content {
  background-image: url("../assets/images/Banner-Image.png");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 16px;
}
.banner-title {
  width: 520px;
  padding: 5px;
  padding: 145px 250px;
}
.banner-title .banner-header1 {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 26px;
  font-weight: 400;
  line-height: 33px;
  text-align: center;
}
.banner-title .banner-header2 {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 60px;
  font-weight: 800;
  line-height: 80px;
  text-align: center;
}

/* 65% offer section styles */
.discount-65 {
  width: 50%;
  max-width: 800px;
  margin: 0 auto;
}
.discount-65 .offer-title {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 50px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
}
.discount-65 .holiday-title {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 29px;
  text-align: center;
  margin-top: 36px;
}
.discount-65 .category-title {
  color: rgb(7, 2, 17);
  font-family: Inter;
  font-size: 40px;
  font-weight: 700;
  line-height: 38px;
  text-align: center;
  margin-top: 16px;
}
.discount-65,
img {
  width: 500px;
  height: 350px;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 300px;
}

/* welcome party section styles */
.welcome-party-container {
  width: 82%;
  max-width: 1320px;
  margin: 40px auto;
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url("../assets/images/Vectorrr.png");
  border-radius: 16px;
}
.welcome-party-container .welcome-img img {
  width: 280px;
  height: 380px;
  margin: 55px 0;
}
.welcome-party-container .welcome-party-content .welcome-party-title {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 50px;
  font-weight: 800;
  line-height: 72px;
  text-align: left;
  width: 500px;
}
.welcome-party-container .welcome-party-content .welcome-party-text {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  width: 550px;
  margin-top: 20px;
}
.welcome-party-container .welcome-party-content button {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 40px;
  padding: 4px;
  background-color: inherit;
  border: none;
  padding-left: 20px;
}

/* join now section styles */
.join-now-container {
  width: 82%;
  max-width: 1320px;
  margin: 40px auto;
  height: 350px;
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1),
    rgba(255, 0, 0, 0) 100%
  );
  margin-top: 100px;
  text-align: center;
  padding-top: 82px;
}
.join-now-container p {
  font-family: Inter;
  font-size: 26px;
  font-weight: 600;
  line-height: 45px;
  text-transform: capitalize;
}

.join-now-container p span {
  color: rgb(255, 0, 0);
}
.join-now-container button {
  width: 130px;
  border-radius: 8px;
  background: rgb(255, 0, 0);
  text-align: center;
  padding: 13px 26px;
  color: white;
  border: none;
  margin-top: 50px;
}
