@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Merriweather", "Inter", sans-serif;
}

/* shared styles */
.container {
  width: 82%;
  max-width: 1320px;
  margin: 40px auto;
  height: 500px;
}

/* banner section styles */
.container,
.banner-content {
  background-image: url("../assets/images/Banner-Image.png");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 16px;
}
.banner-title {
  width: 520px;
  padding: 5px;
  padding: 145px 250px;
}
.banner-title .banner-header1 {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 26px;
  font-weight: 400;
  line-height: 33px;
  text-align: center;
}
.banner-title .banner-header2 {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 60px;
  font-weight: 800;
  line-height: 80px;
  text-align: center;
}

/* 65% offer section styles */
.discount-65 {
  width: 50%;
  max-width: 800px;
  margin: 0 auto;
}
.discount-65 .offer-title {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 50px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
}
.discount-65 .holiday-title {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 29px;
  text-align: center;
  margin-top: 36px;
}
.discount-65 .category-title {
  color: rgb(7, 2, 17);
  font-family: Inter;
  font-size: 40px;
  font-weight: 700;
  line-height: 38px;
  text-align: center;
  margin-top: 16px;
}
.discount-65,
img {
  width: 500px;
  height: 350px;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 300px;
}

/* welcome party section styles */
.welcome-party-container {
  width: 82%;
  max-width: 1320px;
  margin: 40px auto;
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url("../assets/images/Vectorrr.png");
  border-radius: 16px;
}
.welcome-party-container .welcome-img img {
  width: 280px;
  height: 380px;
  margin: 55px 0;
}
.welcome-party-container .welcome-party-content .welcome-party-title {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 50px;
  font-weight: 800;
  line-height: 72px;
  text-align: left;
  width: 500px;
}
.welcome-party-container .welcome-party-content .welcome-party-text {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  width: 550px;
  margin-top: 20px;
}
.welcome-party-container .welcome-party-content button {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 40px;
  padding: 4px;
  background-color: inherit;
  border: none;
  padding-left: 20px;
}

/* join now section styles */
.join-now-container {
  width: 82%;
  max-width: 1320px;
  margin: 40px auto;
  height: 350px;
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1),
    rgba(255, 0, 0, 0) 100%
  );
  margin-top: 100px;
  text-align: center;
  padding-top: 82px;
}
.join-now-container p {
  font-family: Inter;
  font-size: 26px;
  font-weight: 600;
  line-height: 45px;
  text-transform: capitalize;
}

.join-now-container p span {
  color: rgb(255, 0, 0);
}
.join-now-container button {
  width: 130px;
  border-radius: 8px;
  background: rgb(255, 0, 0);
  text-align: center;
  padding: 13px 26px;
  color: white;
  border: none;
  margin-top: 50px;
}

/* coming soon section styles */
.coming-soon-container {
  width: 82%;
  max-width: 1320px;
  margin: 40px auto;
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.coming-soon-container .coming-soon-item h3,
.coming-soon-wish h1 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;
  text-align: left;
  padding-bottom: 10px;
}
.coming-soon-wish h1 {
  font-weight: 700;
  font-size: 36px;
}
.coming-soon-container .coming-soon-item h1 {
  color: rgb(7, 2, 17);
  font-family: Merriweather;
  font-size: 40px;
  font-weight: 800;
  line-height: 50px;
  text-align: left;
  text-transform: capitalize;
  padding-bottom: 12px;
}
.coming-soon-container .coming-soon-item p,
.coming-soon-wish p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  width: 320px;
  padding-bottom: 16px;
}
.coming-soon-container .coming-soon-img img {
  width: 320px;
  height: 320px;
  padding: 20px;
  box-sizing: border-box;
  border: 15px solid rgb(255, 0, 0);
  border-radius: 50%;
  margin: 0px auto;
}
.coming-soon-container .coming-soon-wish img {
  width: 115px;
  height: 115px;
  margin: 0px auto;
}

/* holiday sales styles */
.holiday-sale-container {
  width: 65%;
  max-width: 1320px;
  margin: 40px auto;
  height: 240px;
  text-align: center;
  align-content: center;
  padding-top: 82px;
}
.holiday-sale-container h5 {
  color: rgb(7, 2, 17);
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}
.holiday-sale-container h2 {
  font-family: Merriweather;
  font-size: 60px;
  font-weight: 900;
  line-height: 91px;
}
.holiday-sale-container h2 span{
    color: rgb(255, 0, 0);
}
.holiday-sale-container p {
  /* width: 800px; */
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0%;
}

.holiday-sale-img {
    width: 82%;
    max-width: 1320px;
    height: 550px;
    margin: 100px auto;
    /* border: 1px solid black; */
    background-image:  url('../assets/images/Group-44.png'), url('../assets/images/Rectangle-1.png'), url('../assets/images/Group-71.png'), url('../assets/images/Rectangle-2.png');
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: 70% 20%, top right, left center, bottom ;
    background-size: 220px 220px, 350px 350px, 550px 400px, 1320px 200px;
    transform: rotate(-34.21deg), none, none, none;

}

/* portfolio section styles */
.portfolio-container {
  width: 82%;
  max-width: 1320px;
  margin: 40px auto;
}
.portfolio-container h3 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  margin-bottom: 15px;
}
.portfolio-container h2 {
  color: rgb(7, 2, 17);
  font-family: Merriweather;
  font-size: 39px;
  font-weight: 800;
  line-height: 50px;
  text-align: left;
  text-transform: capitalize;
  width: 480px;
  margin-bottom: 20px;
}
.portfolio-container p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  width: 750px;
}
.portfolio-container .portfolio-img1 {
  display: flex;
  gap: 20px;
  width: 350px;
  height: 370px;
}
.portfolio-container .portfolio-img2 {
  display: flex;
  gap: 20px;
  width: 350px;
  height: 370px;
  margin-bottom: 100px;
}

/* subscribe section styles */
.subscribe-container {
  width: 82%;
  max-width: 1320px;
  margin: 40px auto;
  height: auto;
  text-align: center;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 0px 80px 0px;
}
.subscribe-container img {
  width: 123px;
  height: 123px;
  margin-bottom: 20px;
}
.subscribe-container h1 {
  width: 450px;
  color: rgb(7, 2, 17);
  font-family: Merriweather;
  font-size: 42px;
  font-weight: 800;
  line-height: 50px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 22px;
}
.subscribe-container p {
  width: 730px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 17px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}
.subscribe-container form {
  gap: 0px;
  /* margin-top: 0px; */
}
.subscribe-container form input {
  border-radius: 50px 0px 0px 50px;
  background: rgb(255, 255, 255);
  width: 350px;
  height: 50px;
  border: none;
  padding-left: 30px;
}
.subscribe-container form input [type="placeholder"] {
  color: rgba(7, 2, 17, 0.3);
  font-family: Inter;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  text-align: center;
}
.subscribe-container button {
  width: 130px;
  height: 50px;
  border-radius: 0px 50px 50px 0px;
  background: rgb(255, 0, 0);
  text-align: center;
  padding: 13px 26px;
  color: white;
  border: none;
  margin-top: 50px;
}

/* footer section styles */
.footer-container {
  width: 100%;
  height: 505px;
  background: rgb(7, 2, 17);
}
.footer-container p {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
}
.footer-container .footer-contact-container {
  display: flex;
  justify-content: space-between;
  width: 82%;
  margin: 0px auto;
  padding-top: 100px;
}
.footer-container .footer-contact-add,
.footer-contact-info {
  width: 305px;
}
.footer-contact-info img {
  width: 13px;
  height: 13px;
}
.footer-container .footer-icon hr {
  border: 1px solid rgba(255, 255, 255, 0.15);
  width: 82%;
  max-width: 1320px;
  margin: 40px auto;
}
.footer-container .footer-icon .social-icons {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.footer-container .footer-icon .social-icons img {
  width: 35px;
  height: 35px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.footer-container .footer-cpyright {
  display: flex;
  justify-content: space-between;
  width: 82%;
  margin: 0px auto;
}
